<ion-header>
  <ion-navbar>
    <ion-title>{{ a.title }}</ion-title>

    <ion-buttons end>
      <button (click)="close()" ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>
<ion-content padding>
  <!-- {{a.content}} -->
  <div [innerHtml]="getContent()"></div>
</ion-content>
<ion-footer>
  <button ion-button color="secondary" block (click)="close()">{{ 'announcement.close-button' | translate }}</button>
</ion-footer>