<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'forgot-password-modal.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
  <div class="logo-container margin">
    <img class="logo-border" src="assets/svg/silk-logo.svg" />
  </div>

  <ion-item text-wrap>
    {{ 'forgot-password-modal.explanation' | translate }}
  </ion-item>

  <form [formGroup]="form" (ngSubmit)="reset()">
    <ion-list>

      <ion-item class="input-with-icon">
        <ion-icon color="grey2" bottom name="mail" item-start></ion-icon>
        <ion-input type="email" [placeholder]="'form.email' | translate" formControlName="email"></ion-input>
      </ion-item>

      <ion-item text-wrap class="validation-text" *ngIf="apiError">
        {{ apiError | translate }}
      </ion-item>

    </ion-list>

    <button type="submit" round ion-button block [disabled]="form.invalid">
      {{ 'forgot-password-modal.submit' | translate }}
    </button>
  </form>
</ion-content>