vote {
    .item-md {
        background-color: transparent;
    }

    .card-header-md {
        background-color: color($colors, 'primary');
        font-weight: 500;
        color: #fff;
    }

    .close-button {
        font-size: 1.1rem;
        margin: 0;
    }
}
