<ion-header>
  <ion-navbar [hideBackButton]="selectedCount">
    <span *ngIf="selectedCount === 0">
      <ion-title>
        <img class="avatar" [src]="chat?.other.imgBase | image">
        <span class="text">
          {{ chat?.other.userName }}
        </span>

      </ion-title>
    </span>

    <span *ngIf="selectedCount > 0">
      <ion-title>
        <span class="text">
          {{ 'chats.selected' | translate : { count: selectedCount } }}
        </span>

      </ion-title>
    </span>
  </ion-navbar>

</ion-header>
<ion-content #content>
  <div class="message-container">
    <!-- Purely exists to offset the flex direction reverse. -->
    <span *ngFor="let m of messages">
      <div class="unread-line" *ngIf="m.id === firstUnread">
        {{ 'chats.new-messages-line' | translate }}
      </div>
      <chat-bubble (onSelect)="select(m, $event)" [message]="m"></chat-bubble>
    </span>
  </div>
</ion-content>

<ion-footer>
  <chat-footer (sendMessage)="send($event)"></chat-footer>
</ion-footer>