comment {
  .comment-text {
    white-space: pre-wrap;
  }
  
  ion-avatar {
    align-self: flex-start;
  }

  .date {
    font-size: .8em;
    white-space: nowrap;
    color: color($colors, 'lighter');
  }

  .bottom-row {
    > * {
      vertical-align: middle;
    }
  }
}
