comment {
  display: block;
  .comment-text {
    white-space: pre-wrap;
  }
  
  ion-avatar {
    align-self: flex-start;
  }

  .date {
    font-size: .8em;
    white-space: nowrap;
    color: color($colors, 'lighter');
  }

  .bottom-row {
    > * {
      vertical-align: middle;
    }
  }

  .comment-text {
    $lines: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines; /* number of lines to show */
    line-height: 1em;             /* fallback */
    max-height: 1em*$lines;       /* fallback */
    .show-all {
      -webkit-line-clamp: initial; /* number of lines to show */
      line-height: initial;             /* fallback */
      max-height: initial;       /* fallback */
    }
  }
}
