<ion-item text-wrap class="comment">
  <ion-avatar item-start>
    <img [src]="comment.author.imgBase | image">
  </ion-avatar>
  <h2>{{comment.author.userName}}</h2>
  <p class="comment-text">{{comment.text}} <span class="date">{{comment.created | timeAgo}}</span></p>

  <div class="bottom-row" text-right>
    <button ion-button clear (click)="tryVote()">
      <span *ngIf="comment.upvotes > 0">{{comment.upvotes}}</span>
      <ion-icon [style.padding-left]="comment.upvotes ? '.4em' : 0" *ngIf="comment.myVote?.vote !== 1" name="heart-outline">
      </ion-icon>
      <ion-icon [style.padding-left]="comment.upvotes ? '.4em' : 0" *ngIf="comment.myVote?.vote === 1" name="heart"></ion-icon>
    </button>
    <!-- Replying is only possible to top-level comments -->
    <button *ngIf="!comment.parentId" ion-button clear icon-only (click)="reply()">
      <ion-icon name="ios-undo"></ion-icon>
    </button>

    <button ion-button clear icon-only (click)="openMenu($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </div>
  <div class="more-row" *ngIf="comment.commentCount > 0">
    <button block ion-button clear>{{ 'comment.read-more' | translate : comment }}</button>
  </div>


</ion-item>