send-message-modal {  
  .content-ios, .content-md {
    background-color: transparent;
  }
  
  .full-height {
    height: 100%;
  }
  
  
  .header {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  
  .modal-sm {
    &::before {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(#000, .4);
    }
    
    .modal-wrapper {
      box-shadow: none;
    }
    
    .my-backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      
      background-color: transparent;
    }
    
    ion-backdrop {
      display: none;
    }
    
  }
}