comment-thread {
  .button-load-more {
    display: block;
    margin: auto;
  }

  .login-message {
    color: color($colors, lighter);
    font-style: italic;
  }

  .item-md {
    background-color: transparent;
  }

  textarea {
    overflow: scroll !important;
  }
}
