// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
    .menu-header {
        text-align: center;
        background-size: cover;
        background-image: url('assets/imgs/silks-small.jpg');
        color: #fff;
        padding-top: 48px;
        padding-bottom: 12px;
        position: relative;
        
        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(color($colors, 'light'), .7);
        }
        
        .logo {
            max-width: 150px;
            height: auto;
            
            padding: 3px;
            margin: 20px auto;
        }
        
        h2 {
            position: relative;
            margin-top: 0;
            margin-bottom: 4px;
            font-size: 1.2em;
            color: color($colors, 'dark');
        }

        h3 {
            position: relative;
            margin-top: 0;
            margin-bottom: 4px;
            font-size: 1.1em;
            color: color($colors, 'dark');
        }
        
        /* h3 {
            position: relative;
            font-weight: normal;
            font-size: 1.1em;
            color: darken(#fff, 15%);
        } */
        
        .circle-initials {
            border: 1px solid #fff;
            background-color: color($colors, 'primary');

            > span {
                display: inline-block;
                color: color($colors, 'light');
                font-size: 1.6em;
                padding-top: 19px;
                font-weight: 500;
                letter-spacing: 2px;
            }
        }

        .circle {
            display: inline-block;
            margin-bottom: 20px !important;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: top;
            position: relative;
            
            + .circle {
                margin-left: 20px;
            }

            &.glow1 {
                animation: glowing1 3s infinite;
            }
            &.glow2 {
                animation: glowing2 2.5s infinite;
            }
        }
    }

    .category-icon {
        height: 40px;
    }

    .item-md.selected {
        font-weight: 600;
    }
}

/* Training mode! */
.app-root {
    transition: transform .4s ease-in;

}