<div class="author-image" [style.background-image]="getImage(author?.imgBase)"></div>
<h3>{{author?.userName}}</h3>
<h4>{{ 'user.contributions' | translate }} <ion-badge>{{ author?.contribCount }}</ion-badge></h4>
<ion-row *ngIf="author && !isMe">
  <ion-col text-left>
    <follow-button buttonStyle="full" [author]="author"></follow-button>
    
  </ion-col>
  <ion-col text-right>
    <button (click)="comingSoon()" ion-button outline round icon-only color="grey2">
      <ion-icon name="chatbubbles"></ion-icon>
    </button>
    <button (click)="share()" ion-button outline round icon-only color="secondary">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-col>
</ion-row>